@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0c111c;
  /* background-image: linear-gradient(to right bottom, #ac1e6a, #9b116b, #89056c, #75006c, #60006c, #5d006c, #59006c, #56006c, #65016c, #73066c, #800d6c, #8c166c); */
}
